body { background: rgb(0,0,0) !important; }


div.wrapper { position:relative;
				 padding:20px;
				 margin:auto;}


div.buttons { text-align: center;}

	label.control-label { color:white;}

div.playbutton { display: inline-block;}

div.loadbutton { display: inline-block;}

.browse { display: inline-block;}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
