body { background: rgb(26,255,255) !important; }


div.wrapper { position:relative;
				 padding:20px;
				 margin:auto;}


div.buttons { position:relative; 
			  left:50%;}

div.form-group { position:relative;
				 top:5px;}

div.col-xs-5.selectContainer { position:absolute;
							   left:32%;}

label.col-xs-3.control-label { position:relative;
							   left:12%;
							   right: 10px;}
